body {
    font-family: Arial, sans-serif;
    background-image: url(https://github.com/XaviHrdz/Tokyo-Coffee/blob/main/Pink%20Simple%20Minimalist%20Skincare%20Shop%20Website%20Dekstop%20Prototype.jpg?raw=true);
    display: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-image: url(https://github.com/XaviHrdz/Tokyo-Coffee/blob/main/Pink%20Simple%20Minimalist%20Skincare%20Shop%20Website%20Dekstop%20Prototype.jpg?raw=true);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    margin-top: 0;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
